name: CI/CD with PostgreSQL

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: mydatabase
        ports:
          - '5432:5432'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18.x'

    - name: Install dependencies
      run: npm install

    - name: Run migrations
      run: npx knex migrate:latest

    - name: Run tests
      run: npm test


# name: CI/CD

# on:
#   push:
#     branches:
#       - master

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v2

#       - name: Set up Node.js
#         uses: actions/setup-node@v2
#         with:
#           node-version: 18

#       - name: Install dependencies
#         run: npm install

#       - name: Run tests
#         run: npm test

#       # - name: Build Docker image
#       #   run: |
#       #     docker build -t myapp .
#       #     docker tag myapp gcr.io/<PROJECT_ID>/myapp:latest

#       # - name: Configure Google Cloud CLI
#       #   uses: google-github-actions/setup-gcloud@master
#       #   with:
#       #     version: "latest"
#       #     service_account_email: ${{ secrets.GCP_SA_EMAIL }}
#       #     service_account_key: ${{ secrets.GCP_SA_KEY }}
#       #     project_id: ${{ secrets.GCP_PROJECT_ID }}

#       # - name: Publish Docker image to Container Registry
#       #   run: |
#       #     docker push gcr.io/<PROJECT_ID>/myapp:latest

#       # - name: Deploy app to Google Cloud Run
#       #   uses: google-github-actions/deploy-cloudrun@v1
#       #   with:
#       #     image: gcr.io/<PROJECT_ID>/myapp:latest
#       #     platform: managed
#       #     project_id: ${{ secrets.GCP_PROJECT_ID }}
#       #     service_name: myapp
#       #     region: us-central1
#       #     service_account_email: ${{ secrets.GCP_SA_EMAIL }}
